@import "../../../node_modules/bootstrap/scss/bootstrap";

body::-webkit-scrollbar {
  width: 0;
}

.application {

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-header {
  .header-image-container {
    position: relative;

    .header-image {
      object-fit: cover;
      position: relative;
      z-index: 1;
    }

    .header-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      max-width: map-get($grid-breakpoints, "xxl");
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-text {
        color: $white;
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: max(5vw, 50px);
        }

        h2 {
          font-size: max(2vw, 25px);
          text-align: center;
        }
      }

      .user-instructions {
        max-width: 500px;
        width: 100%;

        .user-instructions-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 15px;

          .user-instructions-item {
            background: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 30px -10px $black;
            min-width: 100px;
            cursor: pointer;
            transition: 0.5s;

            &:first-child:hover {
              transform: translate(-10px, -10px);
            }

            &:nth-child(2):hover {
              transform: translate(10px, -10px);
            }

            &:nth-child(3):hover {
              transform: translate(-10px, 10px);
            }

            &:nth-child(4):hover {
              transform: translate(10px, 10px);
            }

            p {
              font-weight: bold;
            }

            img {
              max-width: 100px;
              width: 100%;
              aspect-ratio: 1;
              object-fit: cover;
              margin-block: 20px;
            }
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
  }
}

.site-footer {
  padding: 10px;
  background: $dark;
  color: $light;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  margin: 20px;

  &::after {
    content: "";
    display: flex;
    width: max(300px, min(20%, 100vw));
    height: 2px;
    background: $warning;
    position: relative;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
  }
}

.sidebar {
  max-width: 300px;
  margin: 10px;
  background: $white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px -7px $dark;

  .sidebar-section {

    &:not(:last-child) {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;
    }

    h3 {
      font-size: 1rem;
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        padding: 7px 15px;
        border-radius: 10px;
        cursor: pointer;
        color: $dark;
        text-decoration: none;
        background: $light;
        margin-block: 2px;
        transition: 0.3s ease;

        &.button-active, &:hover {
          background: $warning;
        }

        &.button-active {
          font-weight: bold;
        }
      }
    }
  }

  select {
    border-radius: 10px;
    outline: none;
    border: none;
    background: $light;
    width: 100%;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: $warning;
    }

    option {
      background: $light;
    }
  }
}