@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.popular-dishes-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .view-all-dishes-button {
    min-width: 300px;
  }

  .section-content {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .dishes-list-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin: 10px;
      width: 100%;

      .dishes-list-item {
        width: 100%;
        min-height: 300px;
        box-shadow: 0 0 10px -7px $dark;
        position: relative;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }

        .dish-card-name {
          font-weight: bold;
          font-size: 1.3rem;
        }

        .dish-card-category, .dish-card-preparation-complexity {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  .popular-dishes-section {

    .section-content {

      .dishes-list-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .popular-dishes-section {

    .section-content {

      .dishes-list-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .popular-dishes-section {

    .section-content {

      .dishes-list-container {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
  .popular-dishes-section {

    .section-content {

      .dishes-list-container {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}